@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: top left, bottom right ;
      
    }

  .header-container{
      display:flex;
      color: hsl(300, 43%, 22%);
      margin: 40px 600px -20px 60px;
      flex-direction: column;
      width: 45%;
      font-size: 1.8rem;
  }

  h1{
      display: flex;
      width: 75%;
  }

  p{
      font-size: 1.2rem;
      color: rgb(151, 151, 151);
      line-height: 1.5;
      width: 75%;
      margin: -20px 0 0 0;
  }


  .aside-container{
      display: flex;
      color: hsl(300, 43%, 22%);
      flex-direction: column;
      margin: 130px 0 0 -160px;
      justify-content: center;

  }


  .stars{
      width: 3%;
      height: 3%;
      padding: 2px;
  }

  .startext{
    margin: -5px 0 0 30px ;
    color: hsl(300, 43%, 22%);
    font-size: 1rem;
}

  .aside-element{
      background-color:  hsl(300, 24%, 96%);
      border-radius: 10px;
      display: flex;
      width: 24%;
      height: 3%;
      margin: -330px 20px 200px 880px;
      padding: 15px;
  }

  .aside-element_2{
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    width: 24%;
    height: 3%;
    margin: -330px 20px 200px 840px;
    padding: 15px;
}

.aside-element_3{
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    width: 24%;
    height: 3%;
    margin: -330px 20px 200px 800px;
    padding: 15px;
}


  

   .review-container{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
        margin: -50px 0 0 -100px;
   }

   .review1, .review2, .review3{
       background-color: hsl(300, 43%, 22%);
       border-radius: 15px 15px 15px 15px;
       display: flex;
       width: 24%;
       height: 180px;
       margin: 0 0 0 130px;
   }
   .review2{
    margin: 20px 0 0 30px;
    }

    .review3{
        margin: 40px 0 0 30px;
    }

   .text-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(251, 234, 234);
    font-weight: 400;
    font-size: 0.9rem;
    width: 75%; 
    margin: 40px 0 0 -160px;
}

   .colton{
       display: flex;
       border-radius: 45px;
       height: 15%;
       margin: 20px 20px 20px 50px;
   }

       h3{
        color:hsl(0, 0%, 100%);
        display: flex;
        width: 35%;
        font-size: 0.8rem;
        margin: 25px 0 0 -5px;  
    }
    span{
        display: flex;
        color: hsl(300, 54%, 76%);
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin: -27px 0 0 38px;  
    }

    


/* ---------------------------------media queries------------------------------ */

/* @media screen and(max-width: 375px) {

    body{
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    background: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: top left, bottom right ;
    }
    .header-container, .aside-container, .review-container{
        display:flex;
        min-width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    


}  */