@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: top left, bottom right ;
      
    }

  .header-container{
      display:flex;
      color: hsl(300, 43%, 22%);
      margin: 40px 600px 0 60px;
      flex-direction: column;
      width: 45%;
      font-size: 1.8rem;
  }

  h1{
      display: flex;
      width: 75%;
  }

  p{
      font-size: 1.2rem;
      color: rgb(151, 151, 151);
      line-height: 1.5;
      width: 75%;
  }


  .aside-container{
      display: flex;
      color: hsl(300, 43%, 22%);
      flex-direction: column;
      margin: 80px 0 0 -180px;
      justify-content: center;

  }


  .stars{
      width: 3%;
      height: 3%;
      padding: 2px;
  }

  .aside-element{
      background-color:  hsl(300, 24%, 96%);
      border-radius: 10px;
      display: flex;
      width: 30%;
      min-height: 3%;
      margin: -380px 20px 200px 800px;
      padding: 20px;
  }

  .aside-element2{
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    width: 30%;
    height: 4%;
    margin: -190px 20px 200px 840px;
    padding: 20px;
   }

   .aside-element3{
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    width: 30%;
    height: 4%;
    margin: -190px 20px 200px 880px;
    padding: 20px;
   }

   .startext{
       margin: -5px 0 0 20px ;
       color: hsl(300, 43%, 22%);
   }

   .review-container{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
        margin: -50px 0 0 -100px;
   }

   .review1{
       background-color: hsl(300, 43%, 22%);
       border-radius: 15px 15px 15px 15px;
       display: flex;
       width: 25%;
       height: 180px;
       margin: 0 0 0 150px;
   }

   .text-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    width: 75%; 
    margin: 45px 0 0 -160px;
}

   .colton{
       display: flex;
       border-radius: 45px;
       height: 15%;
       margin: 25px;
   }

       h3{
        color:hsl(0, 0%, 100%);
        display: flex;
        width: 35%;
        font-size: 0.8rem;
        margin: 30px 0 0 -10px;  
    }
    span{
        display: flex;
        color: hsl(300, 54%, 76%);
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin: -15px 0 0 40px;  
    }

    .review2{
        background-color: hsl(300, 43%, 22%);
        border-radius: 15px 15px 15px 15px;
        display: flex;
        width: 25%;
        height: 180px;
        margin: 20px 0 0 40px;
    }

    .text-review2{
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        width: 75%; 
        margin: 80px 0 0 -180px;
    }

    .irene{
        display: flex;
        margin: -15px 0 0 40px;
        margin: 30px 25px 0 -10px;
    }

    .irene-img{
       display: flex;
       border-radius: 45px;
       height: 15%;
       margin: 25px;
    }

    .span1{
        display: flex;
        color: hsl(300, 54%, 76%);
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin: -30px 0 0 30px;  
    }

    .review3{
        background-color: hsl(300, 43%, 22%);
        border-radius: 15px 15px 15px 15px;
        display: flex;
        width: 25%;
        height: 180px;
        margin: 40px 0 0 40px;
    }

   /* .footer-image{
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-position: bottom;
   } */