@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
  }

  .header-container{
      display:flex;
      color: hsl(300, 43%, 22%);
      margin: 40px 600px 0 30px;
      flex-direction: column;
      width: 45%;
      font-size: 1.8rem;
  }

  h1{
      display: flex;
      width: 75%;
  }

  p{
      font-size: 1.2rem;
      color: rgb(151, 151, 151);
      line-height: 1.5;
      width: 75%;
  }


  .aside-container{
      display: flex;
      color: hsl(300, 43%, 22%);
      flex-direction: column;
      margin: 80px 0 0 -100px;
      justify-content: center;

  }


  .stars{
      width: 3%;
      height: 3%;
      padding: 2px;
  }

  .aside-element{
      background-color:  hsl(300, 24%, 96%);
      border-radius: 10px;
      display: flex;
      width: 27%;
      min-height: 3%;
      margin: -380px 20px 200px 800px;
      padding: 20px;
  }

  .aside-element2{
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    width: 27%;
    height: 4%;
    margin: -190px 20px 200px 840px;
    padding: 20px;
   }

   .aside-element3{
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    width: 27%;
    height: 4%;
    margin: -190px 20px 200px 880px;
    padding: 20px;
   }

   .startext{
       margin: -5px 0 0 20px ;
       color: hsl(300, 43%, 22%);
   }